@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui/dist/full.css";

:root {
  --white: #fff;

  --gray-100: #afafaf;
  --gray-200: #525252;
  --gray-700: #15171b;
  --gray-900: #111113;

  --purple-100: #c5aee3;
  --purple-200: #ac86da;
  --purple-600: #5000c0;
  --purple-700: #4200a2;
  --purple-900: #1e0057;

  --yellow-500: #ffbe16;
  --blue-900: #1fa4e5;
}

body {
  background-color: var(--gray-700) !important;
  color: var(--gray-100);
}
